@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

* {
  box-sizing: border-box;
}

.flexContainer>h1 {
  font-family: 'Satisfy', cursive;
  font-weight: 700;
  font-size: 36px;
  background: -webkit-linear-gradient(rgba(164, 149, 128, 1),#8D7A5B );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.headerBar {
  height: 70px;
  width: 100%;
  padding: 0 30px;
  background: linear-gradient(to bottom, #bfb4ad 65%, #ede9e3);
  transition: all 0.5s;
}
.headerBar_downing {
  border-bottom-width: 3px;
  border-right-width: 1px;
  border-left-width: 1px;
  border-radius: 25px;
  border-color: #6b6b6b;
  background: none;
  background-color: #bfb4ad;
  box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
  transform: scale(0.98, 0.85);
  transition: transform 0.5s;
}
.headerBar_content {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headerBar_content_downing {
  transform: scale(1.02, 1.15);
  transition: transform 0.5s;
}
.rightContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.leftContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.flexContainer {
  display: flex;
  align-items: center; 
  justify-content: center;
  gap: 10px;
  font-size: 30px;
}

.cart {
  width: 40px; 
  height: 40px; 
  cursor: pointer;
}
/* .menuContainer {
  position: relative;
  display: inline-block;
}
.menuContainer:hover .sidebar {
  display: block;
}
.menuButton {
  width: 40px; // Adjust the size as needed
  height: 40px; // Adjust the size as needed
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
}
.sidebar {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #D1CABD;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 10;
  min-width: 160px;
}
.sidebar a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.sidebar a:hover {
  background-color: #ddd;
}*/
.previewBox {
  /* width: 760px; */
  height: 520px;
  top: 470px;
  /* left: 1730px; */
  position: fixed;
  box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
  background-color: #d7ccc4;
}
.previewInsideBox1 {
  height: 450px;
  top: 500px;
  position: fixed;
  box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
  background-color: #936b52;
  border-radius: 50px;
  z-index: 1;
}
.previewInsideBox2 {
  height: 200px;
  top: 500px;
  position: fixed;
  z-index: 2;
  /* box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2); */
  background-color: #bfb4ad;
  border-radius: 50px 50px 0px 0px;
}

@media (max-width: 600px) {
  h1{
    font-size: 28px;
  }
}
