* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.bgContainer {
  min-height: 100vh;
  width: 100%;
}
.filterBar {
  height: 60px;
  width: 100%;
  padding: 0 15px;
  margin-bottom: 20px;
  border-radius: 20px;
  background-color: #bfb4adda /* #ffffffd2 */ /* #ede9e3d9 */;
  transition: background-color 0.3s, color 0.3s;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 68px;
  /* flex-wrap: wrap; */
}

/* --- tag bar --- */
.tagBar {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.btn_tagBar0 {
  height: 50px;
  min-width: 90px;
  width: fit-content;
  padding: 5px;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.btn_tagBar0:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.btn_tagBar0>div {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.spn_tagBar0 {
  width: 70%;
  font-size: 20px;
  font-weight: bold;
  color: #767676;
}
.ipt_tagBar0 {
  border-width: 0;
  border-radius: 20px;
  background-color: #767676;
  transform: scale(1.6);
  pointer-events: none;
}
.ipt_tagBar0:checked {
  background-color: #767676;
}
.ipt_tagBar0:focus {
  box-shadow: none;
}

.btn_tagBar1 {
  height: 50px;
  min-width: 140px;
  width: fit-content;
  padding: 5px;
  margin-right: 10px;
  border-radius: 30px;
  border-color: #954e4e;
  border-width: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.btn_tagBar1:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.btn_tagBar1>div {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.spn_tagBar1 {
  width: 80%;
  font-size: 20px;
  font-weight: bold;
  color: #954e4e;
}
.ipt_tagBar1 {
  border-width: 0;
  border-radius: 20px;
  background-color: #954e4e;
  transform: scale(1.6);
  pointer-events: none;
}
.ipt_tagBar1:checked {
  background-color: #954e4e;
}
.ipt_tagBar1:focus {
  box-shadow: none;
}

.btn_tagBar2 {
  height: 50px;
  min-width: 140px;
  width: fit-content;
  padding: 5px;
  margin-right: 10px;
  border-radius: 30px;
  border-color: #377431;
  border-width: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.btn_tagBar2:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.btn_tagBar2>div {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.spn_tagBar2 {
  width: 80%;
  font-size: 20px;
  font-weight: bold;
  color: #377431;
}
.ipt_tagBar2 {
  border-width: 0;
  border-radius: 20px;
  background-color: #377431;
  transform: scale(1.6);
  pointer-events: none;
}
.ipt_tagBar2:checked {
  background-color: #377431;
}
.ipt_tagBar2:focus {
  box-shadow: none;
}

.btn_tagBar3 {
  height: 50px;
  min-width: 140px;
  width: fit-content;
  padding: 5px;
  margin-right: 10px;
  border-radius: 30px;
  border-color: #50689b;
  border-width: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.btn_tagBar3:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.btn_tagBar3>div {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.spn_tagBar3 {
  width: 80%;
  font-size: 20px;
  font-weight: bold;
  color: #50689b;
}
.ipt_tagBar3 {
  border-width: 0;
  border-radius: 20px;
  background-color: #50689b;
  transform: scale(1.6);
  pointer-events: none;
}
.ipt_tagBar3:checked {
  background-color: #50689b;
}
.ipt_tagBar3:focus {
  box-shadow: none;
}

/* --- time bar --- */
.timeBar {
  height: 100%;
  width: 40%;
}

/* Card */
.adsCard_container {
  height: 100%;
  width: 100%;
}
.adsCard {
  box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
}
.tagName1 {
  height: 40px;
  min-width: 100px;
  width: fit-content;
  padding: 5px;
  border-radius: 30px;
  border-color: #954e4e;
  border-width: 5px;
  text-align: center;
  line-height: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #954e4e;
}
.tagName2 {
  height: 40px;
  min-width: 100px;
  width: fit-content;
  padding: 5px;
  border-radius: 30px;
  border-color: #377431;
  border-width: 5px;
  text-align: center;
  line-height: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #377431;
}
.tagName3 {
  height: 40px; 
  min-width: 100px;
  width: fit-content;
  padding: 5px;
  border-radius: 30px;
  border-color: #50689b;
  border-width: 5px;
  text-align: center;
  line-height: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #50689b;
}

@media only screen and (max-width: 600px) {
  .filterBar {
    height: fit-content;
    padding: 10px 10px;
  }
}
