* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.bg_container {
    position: relative;
    width: 100%;
    height: 100vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden; 
}

.bg_container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../image/poster_offer1.png');
    background-size: cover;
    background-position: center;
    filter: blur(3px) grayscale(0.2); 
    z-index: 0; 
 
}

.payInfo {
    font-size: 25px;
    z-index: 1; 
    padding: 30px;
    height: 50px;
    width: 330px;
    background-color: #ffffff;
    border-radius: 15px;
    margin-bottom: 5px;
}

.payForm_container {
    height: 350px;
    width: 800px;
    display: flex;
    z-index: 1; 
}
.btn_goBack {
    position: relative;
    height: 60px;
    width: 60px;
    padding: 0px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    z-index:2;
    background-color: #8d7a5baf;
   
}
.btn_goBack:hover {
    border-width: 2px;
    border-color: #8d7a5b;
    box-shadow: #ffffff 0 0 10px 3px;
}
.lbl_goBack {
    height: 25px;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff ;
    pointer-events: none;
    
}
.img_goBack {
    height: 25px;
    width: 25px;
}