.container {
  display: flex;
  font-size: 18px;
}
.container > img {
  height: 500px;
}

.leftPane {
width: 50%;
padding: 10px;
/* border-right: 1px solid #ccc; */
background-color: white;
border-radius: 15px;
height: 80vh;
overflow-y: scroll;
box-shadow: rgba(182, 175, 160, 0.649) 5px 10px 10px;
}

.leftPane::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.leftPane::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.leftPane::-webkit-scrollbar-thumb {
    background: #a69a86;
    border-radius: 10px;
}

.leftPane::-webkit-scrollbar-thumb:hover {
    background: #705b38;
}

.h2 {
font-size: 1.5em;
padding-left: 20px;
padding-top: 10px;
}

.p {
  font-size: 1.2em;
  padding-left: 20px;
  padding-top: 10px;
  }

.rightPane {
width: 40%;
padding: 10px;
background-color: white;
border-radius: 15px;
height: fit-content;
box-shadow: rgba(61, 47, 16, 0.649) 5px 10px 10px;
margin-left: 30px;
margin-bottom: 10px;
font-size: 1em;


}

.box {
  padding: 15px;
}

.location {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-size: 0.9em;
  
}
.detail {
    display: flex;
    flex-direction: column;
    
  }
  
  .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    /* border-bottom: 1px solid #ccc;  */
    
  }
  
  .itemDetails {
    display: flex;
    justify-content: space-between;
    width: 100%;
    
  }
  
  .itemDetails span {
    flex: 1;
    text-align: left;
    /* padding-left: 10px; */
  }

  .orderTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  .orderTable th, .orderTable td {
    /* border: 1px solid #ccc; */
    padding: 8px;
    text-align: center;
  }
  
  .orderTable th {
    background-color: #f2f2f2;
    
   
  }
  
  .orderTable td {
    /* background-color: #fff; */
  }

  .orderTable td:nth-child(1), .orderTable th:nth-child(1) {
    text-align: left;
  }

  .hr {
    border-top: 2px solid #705b38;
    width: 95%;
 
  }
  .discount {
    display: flex;
    justify-content: space-between;
    padding-right: 8px;
    margin-top: 10px;
  }
  .totalPrice {
    display: flex;
   
    justify-content: space-between;
    padding-right: 8px;
    margin-top: 10px;
  }

  .noSelection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
    text-align: center;
    margin: none;
  }
  
  .noSelection img {
    width: 50%;
    margin: 20px;
  }


  @media only screen and (max-width: 900px) {
    .container {
      flex-direction: column;
      font-size: 14px;
    }
    .container > img {
      height: 300px;
    }
  
    .leftPane, .rightPane {
      width: 95%;
      margin-left: 10px;
      height: auto;
      /* box-shadow: none; */
    }
  
    .leftPane {
      height: 40vh;
      overflow: scroll;
      overflow-x: hidden;
      margin-bottom: 10px;
    }
  
    .rightPane {
      height: auto;
    }
  
    h2 {
      font-size: 1.2em;
      padding-left: 10px;
      padding-top: 5px;
    }
  
    .box, .location, .item, .itemDetails, .orderTable, .totalPrice, .noSelection {
      padding: 5px;
    }
  
    .noSelection img {
      width: 80%;
    }
  }